* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-grid {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

.titulo{
    font-family: "Roboto-Bold";
    font-size: 20px;
}

.texto{
    font-family: "Roboto-Light";
}



/* FONTES */

@font-face {
    font-family: "Roboto-Bold";
    src: url(./Fonts/RobotoSlab-Bold.ttf);
}

@font-face {
    font-family: "Roboto-Light";
    src: url(./Fonts/RobotoSlab-Light.ttf);
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(./Fonts/RobotoSlab-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Thin";
    src: url(./Fonts/RobotoSlab-Thin.ttf);
}

@font-face {
    font-family: "Spline-Sans";
    src: url(./Fonts/SplineSansMono-VariableFont_wght.ttf);
}

:root {
    --preto: #000;
    --branco: #fff;
    --laranjaAraxa: #E94E1B;
}

/* ------------- BANNER ------------- */

.banner {
    background-image: url(./Img/BannerFloresta.png);
    background-repeat: no-repeat;
}

header {
    height: 200px;
}

header img {
    width: 300px;
}

nav {
    background-color: var(--laranjaAraxa);
    height: 80px;
    width: 5px;
    border-radius: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

header .container-grid {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    max-width: 700px;
    width: 70%;
    display: flex;
    gap: 120px;
}

.menu a {
    font-size: 27px;
    color: var(--preto);
    font-family: "Roboto-regular";
    text-decoration: underline transparent;
    transition: text-decoration 500ms ease;
}

.menu a:hover {
    text-decoration-color: var(--preto);
}

.conteudo-banner {
    display: flex;
    justify-content: space-evenly;
}

.conteudo-banner p {
    font-size: 70px;
    font-family: "Spline-Sans", semibold;
    text-align: center;
    font-weight: 700;
    margin-top: 50px;
}

/* ------------- SOBRE ------------- */

#sobre{
    display: flex;
    margin-top: 60px;
    gap: 100px;
}

#sobre img{
    height: 350px;
}

.conteudo-sobre{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.conteudo-sobre p{
    padding-top: 20px;
    padding-right: 20px;
}

/* ------------- PARALLAX ------------- */

#parallax{
    height: 250px;
    background: linear-gradient(rgba(0, 0, 0, 0.26)), url(./Img/Parallax.svg);
    margin-top: 120px;
    margin-bottom: 100px;
    background-attachment: fixed;
    background-size: 100%;
}

/* ------------- PEÇAS ------------- */

#pecas div.titulo{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

/* ------------- COLEÇÕES ------------- */

#colecoes div.titulo{
display: flex;
justify-content: center;
margin-top: 50px;
margin-bottom: 75px;
}

/* .cardinverno{
    display: flex;
    flex-direction: column;
} */

#cardfileira1{
    display: flex;
    justify-content: center;
    gap: 170px;
}

#cardinverno{
    display:flex ;
    flex-direction: column;
    align-items: center;
}

#cardinverno img{
    width: 350px;
}

#cardverao{
    display:flex ;
    flex-direction: column;
    align-items: center;
}

#cardverao img{
    width: 350px;
}